* {
  margin: 0;
  padding: 0;
}
body {
  width: 500px;
  height: 500px;
}

.header {
  background-color: #f1f0f0;
  max-width: 100vw;
  height: 15vh;
  display: flex;
  padding-inline: 5vw;
  gap: 5vw;
  align-items: center;
  position: relative;
}

.header img {
  width: 48px;
  height: 48px;
}

.header h1 {
  font-size: 1.5em;
}

.header .toggle-button {
  position: absolute;
  right: 5vw;
}

.header .toggle-button .toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.header .toggle-button .toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.header .toggle-button .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.header .toggle-button .slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.header .toggle-button input:checked + .slider {
  background-color: #4caf50;
}

.header .toggle-button input:checked + .slider::before {
  transform: translateX(24px);
}

.container {
  max-width: 100vw;
  height: 85vh;
}

.section {
  height: 15vh;
  width: 100vw;
  position: relative;
}

.mode-selection {
  background-color: #f1f0f0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10vw;
  border-radius: 10vw;
  width: 80vw;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.mode-selection .mode {
  padding: 2vh 5vw 2vh 5vw;
}

.mode-selection .active {
  background-color: #ffffff;
  border-radius: 10vw;
}

.word-input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  display: flex;
  gap: 5vw;
}

.word-input #add-text {
  width: 80%;
  height: 7vh;
  border-radius: 10vw;
  border: 1px solid #f1f0f0;
}
.word-input #add-button {
  height: 7vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: none;
  position: absolute;
  right: 0;
  background-color: #42b44c;
  color: white;
}

.section-words {
  width: 100vw;
  max-height: 50vh;
  position: relative;
  overflow: auto;
}

.word-list {
  width: 80vw;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  text-align: center;
}
.word-list .word {
  background-color: #f1f0f0;
  padding: 0.5em;
  border-radius: 10vw;
}
