* {
  padding: 0;
  margin: 0;
}

:root {
  --AIAL-light: red;
  --AIAL-dark: black;
}

.container {
  width: 350px;
  height: 500px;
  padding: 5%;
}

.header {
  width: 90vw;
  text-align: center;
  padding-bottom: 5vh;
}
h1 {
  padding: 0;
  margin: 0;
}

#add-section {
  height: 5vh;
  width: 90vw;
  padding-bottom: 5vh;
}

#inputMot {
  width: 80%;
  height: 100%;
  border-radius: 10vw;
}

#add {
  position: relative;
  float: right;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.banned-words {
  width: 90vw;
}

#listeMots {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* espace entre les colonnes */
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}
